html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 500px;
}

/* latiahan 1 */
.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box  ;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}


/* latihan 2 */
.container-dua {
    width: 800px;
    margin: 50px auto;
   
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu { background-color: rgb(119, 199, 255);
}
.layanan.dua { background-color: green;}
.layanan.tiga { background-color: rgb(234, 53, 53);
}

/* responsive */
@media( min-width: 600px;){
    .container-dua {
     display: flex;
      justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }
}
